<h1>Checkout</h1>

<%= form_with(model: @order, local: true, url: confirm_order_orders_path) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, value: current_user.user_name, readonly: true %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, value: current_user.email, readonly: true %>
  </div>

  <div class="field">
    <%= form.label :address_line, "Address" %>
    <%= form.text_area :address_line %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :province_id, "Province" %>
    <%= form.collection_select :province_id, Province.all, :id, :name, prompt: "Select Province" %>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, value: "Canada", readonly: true %>
  </div>

  <div class="field">
    <%= form.label :pay_type %>
    <%= form.select :pay_type, Order::PAYMENT_TYPES %>
  </div>

  <div class="actions">
    <%= form.submit "Confirm Address" %>
  </div>
<% end %>
