<!DOCTYPE html>
<html>
<head>
  <title>Ogoki Learning Inc</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

</head>

<body>
  <header>
    <div class="header-left">
      <%= image_tag 'OgokiLearningLogo.png', alt: 'Ogoki Learning Inc Logo', width: 200 %>
    </div>
    <div class="header-right">
      <nav>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
          <li><%= link_to 'About', about_path %></li>
        </ul>
      </nav>
    </div>
  </header>

  <%= yield %>

  <footer>
    <p>© Ogoki Learning Inc - 2023 | Download our Ojibway App Today! by Ojibway App | All Rights Reserved</p>
  </footer>
</body>
</html>
