<!DOCTYPE html>
<html>
<head>
  <title>Ogoki Learning Inc</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

</head>

<body>
  <header>
    <div class="header-left">
      <%= image_tag 'OgokiLearningLogo.png', alt: 'Ogoki Learning Inc Logo', width: 200 %>
    </div>
    <div class="header-right">
      <nav>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'My Shopping Cart', cart_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
          <li><%= link_to 'About', about_path %></li>
        </ul>
      </nav>
      <div>
        <% if user_signed_in? %>
            <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
            <li><%= button_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Login', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
        </div>
    </div>
  </header>

  <%= yield %>

  <footer>
    <p>© Ogoki Learning Inc - 2023 | Download our Ojibway App Today! by Ojibway App | All Rights Reserved</p>
  </footer>
</body>
</html>
